@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Font-Face */

@font-face {
  font-family: AvenirProRoman;
  src: url(../font/AvenirLTProRoman.otf);
}

@font-face {
  font-family: VanitasRegular;
  src: url(../font/FontsFree-Net-vanitas.ttf);
}

:root {
  --Yelloe: #daff01;
  --White: #ffffff;
  --Chream: #ead1ca;
  --btn: #2539dc;
  --OffWhite: #fbf7f5;
  --Sparat: #ead1ca;
  --whitedull: #efebe8;
}

* {
  font-family: "Lato", sans-serif;
}

.AvenirProRoman {
  font-family: AvenirProRoman;
  font-weight: 400;
}

.VanitasRegular {
  font-family: VanitasRegular;
  font-weight: 400;
}

/* Navigation Bar */
.cust-navigation .nav-item {
  display: flex;
  align-items: center;
}

.cust-navigation .nav-item .nav-link {
  font-size: 12px;
  color: #13181a;
  padding-right: 60px;
  cursor: pointer;
}

.cust-menu {
  width: 45% !important;
}

.cust-hamburger .nav-link {
  padding: 0px !important;
}

.navbar {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 10;
}

/* Main */

.main-section-hero {
  background: linear-gradient(to right, #f0ebe8 35%, #ffffff 0%);
}

.hero-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-img img {
  height: 100%;
  width: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  border-radius: inherit;
  animation: fadeIn 1.1s ease-in forwards;
}

.hero-title {
  font-size: 120px;
  line-height: 100px;
  position: relative;
}

.circle-span::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 96px;
  top: -118px;
  width: 350px;
  height: 350px;
  background-color: var(--Yelloe);
  display: block;
}

.hero-left-animation {
  position: absolute;
  top: 110px;
  right: 146px;
}

.hero-btn {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.4em;
  font-size: 16px;
  text-align: center;
  background-color: var(--btn);
  padding: 18px 29px;
  text-decoration: none;
}

/* intro section */

.intro-div {
  background-color: var(--Chream);
  height: 560px;
}

.intro-text-name {
  font-size: 75px;
  padding: 0;
  margin: 0;
  padding-right: 25px;
}

.myName {
  font-size: 100px;
  padding: 0;
  margin: 0;
  line-height: 35px;
}

.intro-img {
  width: 403px;
  height: 596px;
  object-fit: cover;
  position: absolute;
  top: -36px;
}

.yellow-back::before {
  width: 403px;
  height: 317px;
  position: absolute;
  top: -68px;
  left: 50px;
  content: "";
  background-color: var(--Yelloe);
}

.cust-row {
  height: 560px;
}

.cust-btn {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.4em;
  font-size: 16px;
  text-align: center;
  background-color: var(--btn);
  padding: 15px 20px;
  text-decoration: none;
}

.cust-btn:hover {
  background-color: #13181a;
}
